
<form id="signUpForm">
<input type="email" name="email" placeholder="McGill Email" class="email">
<input type="password" name="password" placeholder="Password" class="password">
<input type="password" name="confirmPassword" placeholder="confirm Password" class="confirmPassword">
<input type="submit" name="submit" onclick="signUp()" >
</form>
