
<form id="signInForm">
<input type="email" name="email" placeholder="McGill Email" class="email">
<input type="password" name="password" placeholder="Password" class="password">
<button  onclick="signIn()" >Sign In</button>	
</form>
<div id="Invalid_Credential_Input">Error : Invalid Credential Input</div>